.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
}

.logoContainer {
  font-size: 50px;
  text-decoration: none;

  a {
    text-decoration: none;
  }
}

.logo {
  color: white;
  background-color: black;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 60px;
}

.logoEnding {
  color: orange;
}

.contactInfo {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.phoneNumber,
.liveChat {
  color: black;
  margin: 0 8px;
  font-size: 1rem;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  input {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #f5f5f5;
  }
}

.iconContainer {
  display: flex;
  align-items: center;

  .iconLink {
    color: black;
    font-size: 2.5rem;
    margin-left: 0.5rem;

    &:hover {
      color: #555;
    }
  }
}

.mobileMenu {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-color: orange;
  padding: 5px;
  cursor: pointer;

  @media (max-width: 767px) {
    display: flex;
  }
}

.menu {
  padding: 5px;
  background-color: orange;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  @media (max-width: 767px) {
    max-height: 200px;
  }
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  .navItem {
    margin: 0 50px;
    text-align: center;
  }

  .navLink {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;

    &:hover {
      color: #555;
    }
  }

  .saleLink {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}
