.navbar {
  border-bottom: 2px solid black;
  padding: 1rem 0;
}

.logoContainer {
  display: flex;
  align-items: center;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

.logo {
  color: white;
  border: 2px solid black;
  background-color: black;
  padding: 5px 10px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menuToggler {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
}

.menu {
  display: flex;
  align-items: center;
}

.navMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .navItem {
    margin: 0 10px;

    &:last-child .navLink {
      color: red;
      font-weight: bolder;
      text-transform: uppercase;
      font-size: 17px;

      &:hover {
        color: rgb(221, 0, 0);
      }
    }
  }
}

.navLink {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  &:hover {
    color: #ccc;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.iconContainer {
  display: flex;
  align-items: center;

  .iconLink {
    margin-right: 10px;
    color: black;

    &:hover {
      color: #ccc;
    }
  }

  .icon {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .container {
    flex-wrap: wrap;
  }

  .logo {
    font-size: 1.5rem;
  }

  .menu {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }

  .navMenu {
    flex-wrap: wrap;
    justify-content: center;

    .navItem {
      margin: 0.5rem;
    }
  }

  .searchBox {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .iconContainer {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
}
